.product {
  position: absolute;
  top: 100px;
  left: 960px;
  width: 770px;

  .filterContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;

    .filterTotal {
      font-size: 16px;
      font-weight: bold;
    }

    .filters {
      display: flex;
      font-size: 13px;

      li {
        margin: 5px;
        font-size: 13px;
      }
    }
  }

  .accommodationContents:hover {
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.48);
  }

  .accommodationContents {
    display: flex;
    height: 190px;
    margin-bottom: 16px;
    border: 1px solid lightgray;

    .accommodationImg {
      width: 250px;
      height: inherit;
    }

    .productsContents {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 520px;
      padding: 24px;

      .productsContentsNameBox {
        display: flex;
        flex-direction: column;
        .accommodationName {
          font-size: 20px;
          font-weight: bold;
        }

        .accommodationDesc {
          margin-top: 4px;
          font-size: 12px;
        }
      }
      .productsContentsInfoBox {
        display: flex;
        justify-content: space-between;
        .accommodationRate {
          font-size: 14px;
        }

        .accommodationPrice {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}
