.searchBar {
  position: absolute;
  display: flex;
  left: 0;
  width: 2400px;
  height: 72px;
  padding: 12px;
  border: 1px solid lightgray;

  .searchBarContainer {
    display: block;
    margin: 0 auto;
    width: 1060px;

    .searchBarName {
      display: flex;
      align-items: center;
      width: 200px;
      height: 48px;
      padding: 16px;
      font-size: 28px;
      font-weight: bold;
    }

    .calanderBtn {
      position: absolute;
      top: 15px;
      left: 950px;
      width: 530px;
      height: 48px;
      padding: 18px;
      font-size: 20px;
      border-radius: 5px;
      background-color: #f5f6f7;
      font-weight: bold;
      cursor: pointer;

      .fa-calendar-alt {
        margin-right: 10px;
      }
    }

    .block {
      display: block;
      position: absolute;
      top: 60px;
      left: 950px;
      width: 300px;
      height: 300px;
      background-color: white;
      z-index: 1;
    }

    .none {
      display: none;
    }

    .personBtn {
      position: absolute;
      top: 15px;
      right: 670px;
      width: 230px;
      height: 48px;
      padding: 18px;
      border-radius: 5px;
      background-color: #f5f6f7;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;

      .fa-user-alt {
        margin-right: 10px;
      }
    }

    .personBox {
      position: relative;
      width: 300px;
      height: 200px;
      background-color: white;
    }

    .personBoxBlock {
      display: block;
      position: absolute;
      width: 300px;
      height: 200px;
      right: 600px;
      padding: 20px;
      background-color: white;
      z-index: 1;

      span {
        margin: 10px;
        font-size: 20px;
        font-weight: bold;
        list-style: none;
      }
      li {
        margin: 10px;
        margin-top: 30px;
        font-size: 20px;
        font-weight: bold;
        list-style: none;
      }

      button {
        all: unset;
        width: 70px;
        height: 20px;
        padding: 12px;
        border-radius: 5px;
        color: white;
        background-color: #2b96ed;
      }
    }
  }
}
